{% extends 'base.html' %}

{% block title %}
Startseite
{% endblock %}

{% block body %}
<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-4 mx-auto">
          <h3><em>Relazie</em> your understanding</h3>
          <hr>
          <p>
            River intelligence application will help create for You an understanding from text or transcription. River
            will help create strategy of knowledge. </p>
        </div>
        <div class="col-6 mx-auto">
          <img src="{{url_for('static', filename='img_view/front_view_img.jpg')}}"
            class="img-fluid shadow-none p-3 mb-5 bg-light rounded">
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="row d-flex justify-content-between border border-1 p-5 mb-4">
      <div class="col-6 col-md-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Text summary</h5>
          <h6 class="card-subtitle mb-2 text-muted">Conlusions</h6>
          <p class="card-text">Predict of core knowleage from output of text.</p>
        </div>
      </div>
      <div class="col-6 col-md-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Terms words</h5>
          <h6 class="card-subtitle mb-2 text-muted">Termins</h6>
          <p class="card-text">Get link to source of knowleage by cliking to word.</p>
        </div>
      </div>
      <div class="col-6 col-md-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Visualizate landscapes</h5>
          <h6 class="card-subtitle mb-2 text-muted">Graphics</h6>
          <p class="card-text">Mind maped text to get connection between of word.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto bg-light bg-gradient">
    <div class="row d-flex align-items-center px-3">
      <div class="col-6">
        <h3>What can River Intelegenc application do for you?</h3>
        <div class="p-5">
          <p class="text-lg-start">- Prepare terms explenation.</p>
          <p class="text-lg-start">- Highlight text components and create list of it.</p>
          <p class="text-lg-start">- Visualization knowledge links.</p>
        </div>
        <p class="text-lg-start">
          As leagal reader you need understand this leagal text, river intelegent application will
          help prepare strategy for you to understand your text.
        </p>
        <button class="btn btn-dark">Get Started</button>
      </div>
      <div class="col-4">
        <img src="{{url_for('static', filename='img_view/front_redy_img.jpg')}}" class="img-fluid p-3 mb-5">
      </div>
    </div>
    <div class="row">
      <h2>Flow or working</h2>
      <img src="{{url_for('static', filename='img_view/screen_1.png')}}" class="img-fluid p-3 mb-5">
    </div>
  </div>

  <div class="container mt-5" id="get-in">
    <div class="row d-flex align-items-center justify-content-center">
      <form method="post" class="col-6">
        <h2>Get in touch!</h2>
        <input type="text" name="title" id="title" class="form-control" placeholder="Your Name"><br>
        <textarea name="text" id="text" class="form-control" placeholder="Your Text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send">
      </form>
    </div>
  </div>
  {% endblock %}